.container-page {
  width: 100%;
  min-width: 100%;
  min-height: 80vh;

}

.container-center {
  padding: 0 8rem;
  height: 100%;
  width: 70%;
  margin: 0 auto;
  height: 100%;
}

.container-fullheight {
  height: 100%;
}
