.jumbotron {
    background-image: url('https://images.pexels.com/photos/1227497/pexels-photo-1227497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 75vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;

}


#entry-title {
    font-size: 7rem;
}
